<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Category Page</title>
        <style>
            body {
                background-color: #EBDEF0 ;
            }
            h1 {
                background-color: #D7BDE2 ;
                text-align: center;
            }
    
        </style>
    </head>

    <body>

        <h1>Category</h1>
        <p>
            <a href="http://127.0.0.1:8000/ecommerce/homepage">Homepage</a>
        </p>
        <h2>Category List</h2>
        <ul>
            <li>Skincare</li>
            <li>Bodycare</li>
            <li>Haircare</li>
            <li>Makeup</li>
            <li>Perfume</li>
        </ul>
    
    </body>
</html>

