<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout Page</title>
        <style>
            body {
                background-color: #EBDEF0 ;
            }
            h1 {
                background-color: #D7BDE2 ;
                text-align: center;
            }
    
        </style>
    </head>
    <body>
        <h1>Checkout Page</h1>
        <p>
            <a href="http://127.0.0.1:8000/ecommerce/homepage">Homepage</a>
        </p>
        <h2>Checkout List</h2>
        <ul>
            <li>Cute Press-I'm Just Me Eau De Toilette</li>
            <li>Biore-Uv Anti polution Body Care Serum Berry Spf50+ Pa+++</li>
            <li>Charmiss-Charming Glow Airy Cushion SPF50+ PA++++</li>
            <li>Needly Cica Chid Chilling Pad 200 g.</li>
            <li>Needly-Vita C Glow Toning Ampoule</li>
        </ul>
    </body>
</html>