<!DOCTYPE html>

<html>
    <head>
        <title>Contact page</title>
        <style>
            body {
                background-color: #EBDEF0 ;
            }
            h1 {
                background-color: #D7BDE2 ;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Contact page</h1>
        <p>
            <a href="http://127.0.0.1:8000/ecommerce/homepage">Homepage</a>
        </p>
        <h2>Contact US.</h2>
        <p>Tel: +1 123 456 789</p>
        <p>Email: info@example.com</p>
        <p>Address:  123 street, city, country</p>
    </body>
    