<!DOCTYPE html>

<html>
    <head>
        <title>Product Page</title>
        <style>
            body {
                background-color: #EBDEF0 ;
            }
            h1 {
                background-color: #D7BDE2 ;
                text-align: center;
            }
    
        </style>
    </head>

    <body>
        <h1>Product Page</h1>
        <p>
            <a href="http://127.0.0.1:8000/ecommerce/homepage">Homepage</a>
        </p>
        <h2>Product List</h2>
        <ul>
            <li>Rom&nd-Glasting Water Tint</li>
            <li>Rom&nd-Dewy Ful Water Tint (Sanrio)</li>
            <li>Rom&Nd Nu Zero Cushion</li>
            <li>Rom&nd-Bare Layer Palette</li>
            <li>Rom&nd-Bare Water Cushion</li>
        </ul>

    </body>

</html>